# This is a basic workflow to help you get started with Actions

name: CI/CD

on:
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Install Dep
        run: mnv compile

      - name: Test app
        run: mvn test
        
      - name: Build app
        run: mvn package -DskipTests

